<div id="first-section" class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>⛅️ What is Miner.cloud?</h2>		
			<p class="reason-text">Miner.cloud helps Japanese learners, AJATTers and MIA followers do sentence mining more effectively.</p>

			<p class="reason-text">I developped Miner.cloud because I realized that most of my energy was spent on tools, and not ont learning Japanese.</p>
		</div>
		<div class="col-md-4">
			<%= image_tag("profile-picture.png", :alt => "Lois Lin", :class => "profile-pic img-responsive") %>
			<p align="center">Lois Lin - Creator</p>
		</div>
	</div>
</div>

<%= render 'layouts/subscription' %>

