Hi <%= @user.get_username() %>,

<br>

<p>
	You have requested a password reset. Please click on the following link <br>
	to reset your password:
</p>

<%= link_to 'Reset my password LINK', reset_page_url(:token => @user.reset_password_token, :email => @user.email) %>


