<p>

	Hi <%= @user.get_username() %>,

	<br>
	This is Lois Lin, the creator of Polyglot Lab.
	<br>
	I just wanted to welcome you and tell you that you have 
	<br>
	successfully signed up.
	<br>

	Lois Lin.

</p>