<div class="container">
	<div id="row-article" class="row">
		<div class="col-md-8 miner-container">
			<h2 class="article-title">📚 <%= @article.title %></h2>
			<p>uploaded by <b>@<%= @article.user.get_username() %></b></p>
			<div class="article-section">
				<p onmouseup="loadInfoPhrase()" class="article-text">
					<%= @article.lesson %>
				</p>
			</div>
		</div>
		
		<div class="col-md-1"></div>

		<div class="col-md-3 miner-container">
			<p align="center" class="word-highlighted">かんぽ生命</p>
			<button id="save-srs" class="btn btn-primary miner-button full-width">
						Save to SRS
			</button> 

			<b>Translation 🌎</b>
			<p>
				Food
			</p>

			<b>Example 💬</b>
			<p>
				1. かんぽ生命の保険の不適切な
			</p>
			<p>
				2. かんぽ生命の保険の不適切な
			</p>
		</div>
	</div>
</div>