@import "bootstrap";

::-moz-selection { /* Code for Firefox */
	background-color: rgba(255, 255, 255, 0)	
}

::selection {
	background-color: rgba(255, 255, 255, 20)
}


body {
	font-family: nunito, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 700;
	font-size: 1.5em;
}

footer {
	margin-top: 100px;
	margin-bottom: 20px;
}

hr {
	border-top: 1px solid grey;
}

.white-text {
	color: white;
}

#mission {
	font-size: 1.5em;
}

.video-enroll {
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 30px grey;
	margin-top: -40px;
}

#hero-container {
}

#video-homepage {
	width: 100%;
}

.logo-header {
	height: 40px;
}

.miner-button {
	background-color: #FF4742;
	border-color: #FF4742;
	font-weight: 700;
}

.miner-button:hover {
	background-color: #DD3D39;
	border-color: #DD3D39;
}

.miner-menu-item {
	color: white !important;
	font-weight: 700;
}

.navbar {
	padding: 10px 60px;
}

.nav-item {
	margin: 0 10px;
}

.hero-miner {
	background-image: asset-url('hero-background.jpg');
	background-size: cover;
	height: 400px;
	padding-top: 150px;
	margin-top: -100px;
}

.full-width {
	width: 100%;
}

#homepage-signup {
	margin: 10px 0;
}

.video-explainer {
	width: 100%;
	margin-bottom: 20px;
}

.video-explainer:hover {
	opacity: 0.5;
}

#first-section {
	margin-top: 80px;
}

.profile-pic {
	width: 150px;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 10px;
 
}

.reason-text {
	width: 80%;
}

.modal-dialog {
	max-width: 900px;	
}

.modal-body {
	padding: 40px;
}

#title-modal {
	font-size: 2em;
	margin-bottom: 15px;
}

.pricing {
	background-color: #F5F5F5;
	padding: 15px;
	margin-bottom: 15px;
}

#prices {
	color: #595959;
}

#prices-paragraph {
	margin-bottom: 0;
}

.highlighted {
	background-color: #FFFC55;
}

.word-selected {
	background-color: rgba(255, 71, 66, 30);
}	

.form-control {
	margin: 10px 0;
}

.choose-text {
	background-color: #FFFDE9;
	padding: 30px;
	border-radius: 10px;
	width: 50%;
 	margin-left: auto;
  	margin-right: auto;
  	margin-top: 40px;
  	margin-bottom: 50px;
}

.dropdown-miner {
	background-color: #F5F5F5;
	color: black;
}

.dropdown-miner:hover {
	background-color: #F5F5F5;
	color: black;
}

#dropdown-level {
	margin-top: 10px;
}

#upload-text {
	margin-top: 10px;
	display: block;
}

.text-icon {
	font-size: 80px;
	margin-bottom: 0;
}

.texts-divider {
	margin-top: 0;
}

.row-text-link {
	color: black;
}

.row-text-link:hover {
	text-decoration: none;
	color: black;
}

.row-text {
	border-top: 1px solid #E7E7E7;
	padding-top: 20px;
}

.row-text:hover {
	background-color: #F5F5F5;
}

.title-modal {
	font-weight: 700;
	font-size: 2em;
}

#login-modal-content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.miner-menu-item {
	color: white;
	font-size: 20px;
	font-weight: 600;
	margin: 0 10px;
}

#article-textarea {
	height: 350px;
}

.dropdown-upload {
	margin-top: 10px;
}

#title-upload {
	padding-left: 0;
}

.filter-articles {
	margin-top: 0;
	margin-bottom: 30px;
}

.filter-article-label {
	margin-bottom: 2px;
	font-weight: 700;
}

.link-miner {
	color: black;
	font-weight: 700;
	text-decoration: underline;
}

.link-miner:hover {
	color: black;
}

.search-results {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 30px;
}

.main-title-page {
	margin-top: 40px;
}

.article-section {
	font-size: 1.2em;
	line-height: 50px;
	width: 100%;
	overflow-wrap: break-word;
}

.article-text {
	font-size: 1.5em;
	height: 350px;
	width: 100%;
}

.article-title  {
	font-size: 2em;
	margin-bottom: 10px;

}

.miner-container {
	padding: 40px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 30px #DBDBDB;
}

#row-article {
	padding: 50px 0;
}

.word-highlighted {
	font-size: 1.5em;
	font-weight: 700;
	background-color: #FFFC55;
}

#save-srs {
	margin-bottom: 30px;
}

#miner-navbar {
	background-color: rgba(255, 0, 0, 0);

}

.black-item {
	color: black !important;
	font-size: 16px;
}

#cards-container {
	margin-top: 50px;
}

.card-text {
	font-size: 2em;
}

#card-buttons {
	margin-bottom: 50px;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#link-pronunciation {
	margin-bottom: 20px;
	cursor: pointer;
}

.col-button {
	padding: 5px;;
}

#list-statistics {
	padding-left: 20px;
}

#word-recall {
}

#card-content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#again-button {
	display: none;
}

#good-button {
	display: none;
}

#card-answer {
	display: none;
}

.lesson-word {
	background-color: #AEE0F4;	
	margin: 2px;
	border-radius: 5px;
	padding: 1px;
}

.lesson-word:hover {
	cursor: pointer;	
}

#lesson-go-back, #lesson-go-forward  {
	
	border-radius: 5px;
}

#lesson-go-back:hover, #lesson-go-forward:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

.arrow-lesson {
	font-size: 30px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.lesson-nav:hover {
	background-color: #EAEAEA;
}

.user-selection {
	background-color: #FFE579;
}

#user-data {
	margin-top: 50px;
}

