<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div id="col-subscription" class="col-md-6">
              <h2 id="title-modal" align="center">Start learning 🚀</h2>

              <%= form_for(:user, html: {role: "form", id: "homepage-signup"}, url: signup_path) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, placeholder: "Enter your email", class: "form-control" %>


                <%= f.password_field :password, placeholder: "Choose a password" , class: "form-control" %>

                <%= f.button "Start learning", class: "btn btn-primary miner-button full-width" %>
                
              </div>
              <% end %>              
            </div>

                <div class="col-md-6">
              <p>
                💸 <b class="highlighted">A free alternative</b> to Lingq
              </p>
              <p>
                🗂 <b class="highlighted">SRS</b> to help you remember words / phrases
              </p>
              <p>
                📓 <b class="highlighted">A text reader</b> to help you with difficult vocab
              </p>
              <p>
                🎧 <b class="highlighted">Listen to the pronunciation</b> (using machine learning)
              </p>
                  <p id="conditions-subscription">By clicking this button you accept our <a target="_blank" href="https://www.termsandconditionsgenerator.com/live.php?token=3WlCJqTEHuWNADR73bWmdBTSOwR55062">Terms of Service</a> and <a target="_blank" href="https://www.gdprprivacypolicy.net/live.php?token=exTMfUCMxoh8rbgHwxAdXFmDabmBEt9v">Privacy Policy</a>. We will not share your data with third parties and you will only receive newsletters and notifications from polyglot lab.</p>
            </div>

          </div>
 
        </div>
      </div>

    </div>
  </div>
</div>